.waiting{
font-size:11px; /* Control the size of your element */ 

position : absolute;
left     : 50%;
top      : 50%;
width    : 23em;
height   : 17em;
margin   : -8.5em 0 0 -11.5em;}

.waiting::before,
.waiting::after{
content : '';
display : block;
width   : 1em;
height  : 1em;
margin  : -1em 0 0 -1em;
}

.waiting::before{/*This is the animated area of the element*/ 
animation: animate 3500ms steps(1) infinite;
}

@keyframes animate {
0%, 100% {box-shadow:18em 2em #e61c1c,18em 3em #e61c1c}
12.5% {box-shadow:19em 3em #e61c1c}
25% {box-shadow:19em 4em #e61c1c,20em 4em #e61c1c}
37.5% {box-shadow:19em 5em #e61c1c}
50% {box-shadow:18em 5em #e61c1c,18em 6em #e61c1c}
62.5% {box-shadow:17em 5em #e61c1c}
75% {box-shadow:16em 4em #e61c1c,17em 4em #e61c1c}
87.5% {box-shadow:17em 3em #e61c1c}
}

.waiting::after{ /*This is the static area of the element*/ 
box-shadow:17em 1em #000000,18em 1em #000000,19em 1em #000000,16em 2em #000000,20em 2em #000000,15em 3em #000000,21em 3em #000000,15em 4em #000000,18em 4em #e61c1c,21em 4em #000000,15em 5em #000000,21em 5em #000000,16em 6em #000000,20em 6em #000000,17em 7em #000000,18em 7em #000000,19em 7em #000000,1em 8em #633f16,3em 8em #0d0d0d,4em 8em #0d0d0d,5em 8em #0d0d0d,23em 8em #633f16,1em 9em #633f16,3em 9em #0d0d0d,4em 9em #d9b58d,5em 9em #d9b58d,23em 9em #633f16,1em 10em #633f16,3em 10em #d9b58d,4em 10em #d9b58d,5em 10em #d9b58d,23em 10em #633f16,1em 11em #633f16,3em 11em #1c4012,23em 11em #633f16,1em 12em #633f16,3em 12em #1c4012,8em 12em #633f16,9em 12em #633f16,10em 12em #633f16,11em 12em #633f16,12em 12em #633f16,13em 12em #633f16,14em 12em #633f16,15em 12em #633f16,16em 12em #633f16,17em 12em #633f16,18em 12em #633f16,23em 12em #633f16,1em 13em #633f16,3em 13em #1c4012,4em 13em #1c4012,5em 13em #1c4012,6em 13em #d9b58d,13em 13em #633f16,23em 13em #633f16,1em 14em #633f16,3em 14em #392e9e,4em 14em #392e9e,5em 14em #392e9e,6em 14em #392e9e,13em 14em #633f16,23em 14em #633f16,1em 15em #633f16,2em 15em #633f16,3em 15em #633f16,4em 15em #633f16,6em 15em #392e9e,13em 15em #633f16,20em 15em #633f16,21em 15em #633f16,22em 15em #633f16,23em 15em #633f16,1em 16em #633f16,4em 16em #633f16,6em 16em #392e9e,13em 16em #633f16,20em 16em #633f16,23em 16em #633f16,1em 17em #633f16,4em 17em #633f16,6em 17em #17123f,12em 17em #633f16,13em 17em #633f16,14em 17em #633f16,20em 17em #633f16,23em 17em #633f16;
}