$bubble-castle-wall: #bc6bbc;
$bubble-castle-wall-alt: #a148a2;
$bubble-castle-wall-alt-2: #b355b3;
$bubble-castle-snow: #ffffff;
$bubble-castle-clouds: #d3d3d3;

$bubble-crown: #ffcf1b;
$bubble-skin: #ffc5fd;
$bubble-eyes: #000000;
$bubble-hair: #ff3dc8;
$bubble-dress: #ff00d5;
$bubble-dress-alt: #ff88e9;
$bubble-dress-accent: #9b00a1;

$fin-hat: #ffffff;
$fin-skin: #f8c7b6;
$fin-eyes: #000000;
$fin-straps: #9edb9e;
$fin-shirt: #0086d5;
$fin-pants: #2f48a2;
$fin-socks: #ffffff;
$fin-shoes: #000000;

$jake-skin: #fdc203;
$jake-eyes: #ffffff;
$jake-eyes-alt: #000000;
$jake-nose: #d5a500;
$jake-nose-alt: #000000;

body {
  font-size: 5px;
  background-color: #8fdbec;
}

.grass {
  position: absolute;
  left: 0;
  right: 0;
  
  &.foreground {
    bottom: 0;
    height: 54em;
    background: #42f218;
  }
  &.background {
    bottom: 54em;
    height: 20em;
    background: #34c110;
  }
}

.bubble-castle {
  background: $bubble-castle-wall;
  position: absolute;
  margin-left: 20em;
  height: 1em;
  width: 1em;
  bottom: 100%;
  box-shadow:
    // Line 0
    -10em 0 0 $bubble-castle-wall-alt,
    -9em 0 0 $bubble-castle-wall,
    -8em 0 0 $bubble-castle-wall,
    -7em 0 0 $bubble-castle-wall-alt,
    -6em 0 0 $bubble-castle-wall-alt,
    -5em 0 0 $bubble-castle-wall-alt,
    -4em 0 0 $bubble-castle-wall,
    -3em 0 0 $bubble-castle-wall,
    -2em 0 0 $bubble-castle-wall,
    -1em 0 0 $bubble-castle-wall,
    1em 0 0 $bubble-castle-wall-alt,
    2em 0 0 $bubble-castle-wall-alt,
    3em 0 0 $bubble-castle-wall,
    4em 0 0 $bubble-castle-wall-alt-2,
    5em 0 0 $bubble-castle-wall-alt-2,
    6em 0 0 $bubble-castle-wall-alt-2,
    7em 0 0 $bubble-castle-wall-alt-2,
    8em 0 0 $bubble-castle-snow,
    9em 0 0 $bubble-castle-snow,
    
    // Line 1
    -10em 1em 0 $bubble-castle-wall-alt,
    -9em 1em 0 $bubble-castle-wall,
    -8em 1em 0 $bubble-castle-wall,
    -7em 1em 0 $bubble-castle-wall,
    -6em 1em 0 $bubble-castle-wall,
    -5em 1em 0 $bubble-castle-wall-alt,
    3em 1em 0 $bubble-castle-wall,
    4em 1em 0 $bubble-castle-wall-alt-2,
    5em 1em 0 $bubble-castle-wall-alt-2,
    6em 1em 0 $bubble-castle-wall-alt-2,
    7em 1em 0 $bubble-castle-wall-alt-2,
    
    // Line 2
    -8em 2em 0 $bubble-castle-wall,
    -7em 2em 0 $bubble-castle-wall,
    -6em 2em 0 $bubble-castle-wall,
    -5em 2em 0 $bubble-castle-wall-alt,
    7em 2em 0 $bubble-castle-wall-alt-2,
    
    // Line 3
    -5em 3em 0 $bubble-castle-wall-alt,
    
    // Line -1
    -10em -1em 0 $bubble-castle-wall-alt,
    -9em -1em 0 $bubble-castle-wall,
    -8em -1em 0 $bubble-castle-wall-alt,
    -7em -1em 0 $bubble-castle-wall,
    -6em -1em 0 $bubble-castle-wall-alt,
    -5em -1em 0 $bubble-castle-wall-alt,
    -4em -1em 0 $bubble-castle-wall,
    -3em -1em 0 $bubble-castle-wall,
    -2em -1em 0 $bubble-castle-wall,
    -1em -1em 0 $bubble-castle-wall,
    0em -1em 0 $bubble-castle-wall,
    1em -1em 0 $bubble-castle-wall,
    2em -1em 0 $bubble-castle-wall-alt,
    3em -1em 0 $bubble-castle-wall,
    4em -1em 0 $bubble-castle-wall-alt-2,
    5em -1em 0 $bubble-castle-wall-alt-2,
    6em -1em 0 $bubble-castle-wall-alt-2,
    7em -1em 0 $bubble-castle-wall-alt-2,
    8em -1em 0 $bubble-castle-snow,
    
    // Line -2
    -10em -2em 0 $bubble-castle-wall-alt,
    -9em -2em 0 $bubble-castle-wall,
    -8em -2em 0 $bubble-castle-wall,
    -7em -2em 0 $bubble-castle-wall,
    -6em -2em 0 $bubble-castle-wall-alt,
    -5em -2em 0 $bubble-castle-wall-alt,
    -4em -2em 0 $bubble-castle-wall,
    -3em -2em 0 $bubble-castle-wall,
    -2em -2em 0 $bubble-castle-wall,
    -1em -2em 0 $bubble-castle-wall,
    0em -2em 0 $bubble-castle-wall,
    1em -2em 0 $bubble-castle-wall,
    2em -2em 0 $bubble-castle-wall-alt,
    3em -2em 0 $bubble-castle-wall,
    4em -2em 0 $bubble-castle-wall-alt-2,
    5em -2em 0 $bubble-castle-wall-alt-2,
    6em -2em 0 $bubble-castle-wall-alt-2,
    7em -2em 0 $bubble-castle-wall-alt-2,
    8em -2em 0 $bubble-castle-snow,
    
    // Line -3
    -10em -3em 0 $bubble-castle-wall-alt,
    -9em -3em 0 $bubble-castle-wall,
    -8em -3em 0 $bubble-castle-wall,
    -7em -3em 0 $bubble-castle-wall,
    -6em -3em 0 $bubble-castle-wall,
    -5em -3em 0 $bubble-castle-wall-alt,
    -4em -3em 0 $bubble-castle-wall,
    -3em -3em 0 $bubble-castle-wall,
    -2em -3em 0 $bubble-castle-wall,
    -1em -3em 0 $bubble-castle-wall,
    0em -3em 0 $bubble-castle-wall,
    1em -3em 0 $bubble-castle-wall,
    2em -3em 0 $bubble-castle-wall-alt,
    3em -3em 0 $bubble-castle-wall,
    4em -3em 0 $bubble-castle-wall-alt-2,
    5em -3em 0 $bubble-castle-wall-alt-2,
    6em -3em 0 $bubble-castle-wall-alt-2,
    7em -3em 0 $bubble-castle-snow,
    8em -3em 0 $bubble-castle-snow,
    
    // Line -4
    -10em -4em 0 $bubble-castle-wall-alt,
    -9em -4em 0 $bubble-castle-wall,
    -8em -4em 0 $bubble-castle-wall,
    -7em -4em 0 $bubble-castle-wall,
    -6em -4em 0 $bubble-castle-wall,
    -5em -4em 0 $bubble-castle-wall-alt,
    -4em -4em 0 $bubble-castle-wall,
    -3em -4em 0 $bubble-castle-wall,
    -2em -4em 0 $bubble-castle-wall,
    -1em -4em 0 $bubble-castle-wall,
    0em -4em 0 $bubble-castle-wall,
    1em -4em 0 $bubble-castle-wall,
    2em -4em 0 $bubble-castle-wall-alt,
    3em -4em 0 $bubble-castle-wall,
    4em -4em 0 $bubble-castle-wall-alt-2,
    5em -4em 0 $bubble-castle-wall-alt-2,
    6em -4em 0 $bubble-castle-wall-alt-2,
    7em -4em 0 $bubble-castle-snow,
    
    // Line -5
    -10em -5em 0 $bubble-castle-wall-alt,
    -9em -5em 0 $bubble-castle-wall,
    -8em -5em 0 $bubble-castle-wall,
    -7em -5em 0 $bubble-castle-wall,
    -6em -5em 0 $bubble-castle-wall,
    -5em -5em 0 $bubble-castle-wall-alt,
    -4em -5em 0 $bubble-castle-wall,
    -3em -5em 0 $bubble-castle-wall,
    -2em -5em 0 $bubble-castle-wall,
    -1em -5em 0 $bubble-castle-wall,
    0em -5em 0 $bubble-castle-wall,
    1em -5em 0 $bubble-castle-wall,
    2em -5em 0 $bubble-castle-wall-alt,
    3em -5em 0 $bubble-castle-wall-alt-2,
    4em -5em 0 $bubble-castle-wall-alt-2,
    5em -5em 0 $bubble-castle-wall-alt-2,
    6em -5em 0 $bubble-castle-wall-alt-2,
    7em -5em 0 $bubble-castle-wall-alt-2,
    
    // Line -6
    -10em -6em 0 $bubble-castle-wall-alt,
    -9em -6em 0 $bubble-castle-wall,
    -8em -6em 0 $bubble-castle-wall,
    -7em -6em 0 $bubble-castle-wall,
    -6em -6em 0 $bubble-castle-wall,
    -5em -6em 0 $bubble-castle-wall-alt,
    -4em -6em 0 $bubble-castle-wall,
    -3em -6em 0 $bubble-castle-wall,
    -2em -6em 0 $bubble-castle-wall,
    -1em -6em 0 $bubble-castle-wall,
    0em -6em 0 $bubble-castle-wall,
    1em -6em 0 $bubble-castle-wall,
    2em -6em 0 $bubble-castle-wall,
    3em -6em 0 $bubble-castle-wall-alt-2,
    4em -6em 0 $bubble-castle-wall-alt-2,
    5em -6em 0 $bubble-castle-wall-alt-2,
    6em -6em 0 $bubble-castle-wall-alt-2,
    7em -6em 0 $bubble-castle-wall-alt-2,
    
    // Line -7
    -10em -7em 0 $bubble-castle-wall-alt,
    -9em -7em 0 $bubble-castle-wall-alt,
    -8em -7em 0 $bubble-castle-wall-alt,
    -7em -7em 0 $bubble-castle-wall-alt,
    -6em -7em 0 $bubble-castle-wall-alt,
    -5em -7em 0 $bubble-castle-wall-alt,
    -4em -7em 0 $bubble-castle-snow,
    -3em -7em 0 $bubble-castle-wall,
    -2em -7em 0 $bubble-castle-wall,
    -1em -7em 0 $bubble-castle-wall,
    0em -7em 0 $bubble-castle-wall,
    1em -7em 0 $bubble-castle-wall,
    2em -7em 0 $bubble-castle-wall,
    4em -7em 0 $bubble-castle-wall-alt-2,
    5em -7em 0 $bubble-castle-wall-alt-2,
    6em -7em 0 $bubble-castle-wall-alt-2,
    7em -7em 0 $bubble-castle-wall-alt-2,
    
    // Line -8
    -10em -8em 0 $bubble-castle-wall-alt,
    -9em -8em 0 $bubble-castle-wall-alt,
    -8em -8em 0 $bubble-castle-wall-alt,
    -7em -8em 0 $bubble-castle-wall-alt,
    -6em -8em 0 $bubble-castle-wall-alt,
    -5em -8em 0 $bubble-castle-wall-alt,
    -4em -8em 0 $bubble-castle-snow,
    -3em -8em 0 $bubble-castle-wall,
    -2em -8em 0 $bubble-castle-wall,
    -1em -8em 0 $bubble-castle-wall,
    0em -8em 0 $bubble-castle-wall,
    1em -8em 0 $bubble-castle-wall,
    2em -8em 0 $bubble-castle-wall,
    4em -8em 0 $bubble-castle-snow,
    5em -8em 0 $bubble-castle-wall-alt-2,
    6em -8em 0 $bubble-castle-wall-alt-2,
    7em -8em 0 $bubble-castle-wall-alt-2,
    
    // Line -9
    -10em -9em 0 $bubble-castle-snow,
    -9em -9em 0 $bubble-castle-wall-alt,
    -8em -9em 0 $bubble-castle-wall-alt,
    -7em -9em 0 $bubble-castle-snow,
    -6em -9em 0 $bubble-castle-snow,
    -5em -9em 0 $bubble-castle-snow,
    -4em -9em 0 $bubble-castle-snow,
    -3em -9em 0 $bubble-castle-wall,
    -2em -9em 0 $bubble-castle-wall,
    -1em -9em 0 $bubble-castle-wall,
    0em -9em 0 $bubble-castle-wall,
    1em -9em 0 $bubble-castle-wall,
    2em -9em 0 $bubble-castle-wall,
    4em -9em 0 $bubble-castle-snow,
    5em -9em 0 $bubble-castle-wall-alt-2,
    6em -9em 0 $bubble-castle-wall-alt-2,
    7em -9em 0 $bubble-castle-wall-alt-2,
    
    // Line -10
    -10em -10em 0 $bubble-castle-snow,
    -9em -10em 0 $bubble-castle-wall-alt,
    -8em -10em 0 $bubble-castle-wall-alt,
    -7em -10em 0 $bubble-castle-snow,
    -6em -10em 0 $bubble-castle-snow,
    -5em -10em 0 $bubble-castle-snow,
    -4em -10em 0 $bubble-castle-snow,
    -3em -10em 0 $bubble-castle-wall,
    -2em -10em 0 $bubble-castle-wall,
    -1em -10em 0 $bubble-castle-wall,
    0em -10em 0 $bubble-castle-wall,
    1em -10em 0 $bubble-castle-snow,
    2em -10em 0 $bubble-castle-wall,
    4em -10em 0 $bubble-castle-snow,
    5em -10em 0 $bubble-castle-snow,
    6em -10em 0 $bubble-castle-wall-alt-2,
    7em -10em 0 $bubble-castle-wall-alt-2,
    
    // Line -11
    -10em -11em 0 $bubble-castle-snow,
    -9em -11em 0 $bubble-castle-wall-alt,
    -8em -11em 0 $bubble-castle-wall-alt,
    -7em -11em 0 $bubble-castle-snow,
    -6em -11em 0 $bubble-castle-snow,
    -5em -11em 0 $bubble-castle-snow,
    -4em -11em 0 $bubble-castle-snow,
    -3em -11em 0 $bubble-castle-wall,
    -2em -11em 0 $bubble-castle-wall,
    -1em -11em 0 $bubble-castle-wall,
    0em -11em 0 $bubble-castle-wall,
    1em -11em 0 $bubble-castle-snow,
    2em -11em 0 $bubble-castle-snow,
    4em -11em 0 $bubble-castle-snow,
    5em -11em 0 $bubble-castle-snow,
    6em -11em 0 $bubble-castle-wall-alt-2,
    7em -11em 0 $bubble-castle-wall-alt-2,
    
    // Line -12
    -10em -12em 0 $bubble-castle-snow,
    -9em -12em 0 $bubble-castle-snow,
    -8em -12em 0 $bubble-castle-wall-alt,
    -7em -12em 0 $bubble-castle-snow,
    -6em -12em 0 $bubble-castle-snow,
    -5em -12em 0 $bubble-castle-snow,
    -4em -12em 0 $bubble-castle-wall,
    -3em -12em 0 $bubble-castle-wall,
    -2em -12em 0 $bubble-castle-wall,
    -1em -12em 0 $bubble-castle-wall,
    0em -12em 0 $bubble-castle-wall,
    1em -12em 0 $bubble-castle-snow,
    2em -12em 0 $bubble-castle-snow,
    4em -12em 0 $bubble-castle-snow,
    5em -12em 0 $bubble-castle-snow,
    6em -12em 0 $bubble-castle-wall-alt-2,
    7em -12em 0 $bubble-castle-wall-alt-2,
    
    // Line -13
    -10em -13em 0 $bubble-castle-snow,
    -9em -13em 0 $bubble-castle-snow,
    -8em -13em 0 $bubble-castle-snow,
    -7em -13em 0 $bubble-castle-snow,
    -6em -13em 0 $bubble-castle-snow,
    -5em -13em 0 $bubble-castle-snow,
    -4em -13em 0 $bubble-castle-wall,
    -3em -13em 0 $bubble-castle-wall,
    -2em -13em 0 $bubble-castle-wall,
    -1em -13em 0 $bubble-castle-wall,
    0em -13em 0 $bubble-castle-wall,
    1em -13em 0 $bubble-castle-snow,
    5em -13em 0 $bubble-castle-snow,
    6em -13em 0 $bubble-castle-wall-alt-2,
    7em -13em 0 $bubble-castle-snow,
    
    // Line -14
    -10em -14em 0 $bubble-castle-snow,
    -9em -14em 0 $bubble-castle-snow,
    -8em -14em 0 $bubble-castle-snow,
    -7em -14em 0 $bubble-castle-snow,
    -6em -14em 0 $bubble-castle-snow,
    -5em -14em 0 $bubble-castle-wall,
    -4em -14em 0 $bubble-castle-wall,
    -3em -14em 0 $bubble-castle-wall,
    -2em -14em 0 $bubble-castle-wall,
    -1em -14em 0 $bubble-castle-wall,
    0em -14em 0 $bubble-castle-wall,
    1em -14em 0 $bubble-castle-snow,
    2em -14em 0 $bubble-castle-clouds,
    3em -14em 0 $bubble-castle-clouds,
    4em -14em 0 $bubble-castle-clouds,
    5em -14em 0 $bubble-castle-clouds,
    6em -14em 0 $bubble-castle-clouds,
    7em -14em 0 $bubble-castle-snow,
    
    // Line -15
    -10em -15em 0 $bubble-castle-snow,
    -9em -15em 0 $bubble-castle-snow,
    -8em -15em 0 $bubble-castle-snow,
    -7em -15em 0 $bubble-castle-snow,
    -6em -15em 0 $bubble-castle-wall,
    -5em -15em 0 $bubble-castle-wall,
    -4em -15em 0 $bubble-castle-wall,
    -3em -15em 0 $bubble-castle-wall,
    -2em -15em 0 $bubble-castle-wall,
    -1em -15em 0 $bubble-castle-wall,
    0em -15em 0 $bubble-castle-snow,
    1em -15em 0 $bubble-castle-snow,
    2em -15em 0 $bubble-castle-clouds,
    3em -15em 0 $bubble-castle-clouds,
    4em -15em 0 $bubble-castle-clouds,
    5em -15em 0 $bubble-castle-clouds,
    6em -15em 0 $bubble-castle-clouds,
    7em -15em 0 $bubble-castle-clouds,
    8em -15em 0 $bubble-castle-clouds,
    9em -15em 0 $bubble-castle-clouds,
    10em -15em 0 $bubble-castle-clouds,
    11em -15em 0 $bubble-castle-clouds,
    12em -15em 0 $bubble-castle-clouds,
    
    // Line -16
    -9em -16em 0 $bubble-castle-snow,
    -8em -16em 0 $bubble-castle-snow,
    -7em -16em 0 $bubble-castle-wall,
    -6em -16em 0 $bubble-castle-wall-alt,
    -5em -16em 0 $bubble-castle-wall,
    -4em -16em 0 $bubble-castle-wall,
    -3em -16em 0 $bubble-castle-wall,
    -2em -16em 0 $bubble-castle-wall,
    -1em -16em 0 $bubble-castle-wall,
    0em -16em 0 $bubble-castle-snow,
    1em -16em 0 $bubble-castle-snow,
    2em -16em 0 $bubble-castle-clouds,
    3em -16em 0 $bubble-castle-clouds,
    5em -16em 0 $bubble-castle-snow,
    6em -16em 0 $bubble-castle-snow,
    8em -16em 0 $bubble-castle-clouds,
    9em -16em 0 $bubble-castle-clouds,
    10em -16em 0 $bubble-castle-clouds,
    11em -16em 0 $bubble-castle-clouds,
    12em -16em 0 $bubble-castle-clouds,
    13em -16em 0 $bubble-castle-clouds,
    14em -16em 0 $bubble-castle-clouds,
    15em -16em 0 $bubble-castle-clouds,
    16em -16em 0 $bubble-castle-clouds,
    
    // Line -17
    -8em -17em 0 $bubble-castle-wall-alt,
    -7em -17em 0 $bubble-castle-wall-alt,
    -6em -17em 0 $bubble-castle-wall-alt,
    -5em -17em 0 $bubble-castle-wall,
    -4em -17em 0 $bubble-castle-wall,
    -3em -17em 0 $bubble-castle-wall,
    -2em -17em 0 $bubble-castle-wall,
    -1em -17em 0 $bubble-castle-wall,
    0em -17em 0 $bubble-castle-wall,
    1em -17em 0 $bubble-castle-wall-alt,
    2em -17em 0 $bubble-castle-clouds,
    3em -17em 0 $bubble-castle-clouds,
    4em -17em 0 $bubble-castle-clouds,
    5em -17em 0 $bubble-castle-clouds,
    6em -17em 0 $bubble-castle-snow,
    7em -17em 0 $bubble-castle-clouds,
    8em -17em 0 $bubble-castle-clouds,
    9em -17em 0 $bubble-castle-clouds,
    10em -17em 0 $bubble-castle-clouds,
    11em -17em 0 $bubble-castle-clouds,
    12em -17em 0 $bubble-castle-clouds,
    13em -17em 0 $bubble-castle-clouds,
    14em -17em 0 $bubble-castle-clouds,
    15em -17em 0 $bubble-castle-clouds,
    16em -17em 0 $bubble-castle-clouds,
    17em -17em 0 $bubble-castle-clouds,
    18em -17em 0 $bubble-castle-clouds,
    19em -17em 0 $bubble-castle-clouds,
    20em -17em 0 $bubble-castle-clouds,
    
    // Line -18
    -8em -18em 0 $bubble-castle-wall-alt,
    -7em -18em 0 $bubble-castle-wall-alt,
    -6em -18em 0 $bubble-castle-wall-alt,
    -5em -18em 0 $bubble-castle-wall,
    -4em -18em 0 $bubble-castle-wall,
    -3em -18em 0 $bubble-castle-wall,
    -2em -18em 0 $bubble-castle-wall,
    -1em -18em 0 $bubble-castle-wall,
    0em -18em 0 $bubble-castle-wall,
    1em -18em 0 $bubble-castle-wall-alt,
    4em -18em 0 $bubble-castle-clouds,
    5em -18em 0 $bubble-castle-clouds,
    6em -18em 0 $bubble-castle-snow,
    7em -18em 0 $bubble-castle-clouds,
    8em -18em 0 $bubble-castle-clouds,
    9em -18em 0 $bubble-castle-clouds,
    
    // Line -19
    -7em -19em 0 $bubble-castle-wall-alt,
    -6em -19em 0 $bubble-castle-wall,
    -5em -19em 0 $bubble-castle-wall,
    -4em -19em 0 $bubble-castle-wall,
    -3em -19em 0 $bubble-castle-wall,
    -2em -19em 0 $bubble-castle-wall,
    -1em -19em 0 $bubble-castle-wall,
    0em -19em 0 $bubble-castle-wall-alt,
    1em -19em 0 $bubble-castle-wall-alt,
    
    // Line -20
    -7em -20em 0 $bubble-castle-clouds,
    -6em -20em 0 $bubble-castle-clouds,
    -5em -20em 0 $bubble-castle-clouds,
    -4em -20em 0 $bubble-castle-clouds,
    -3em -20em 0 $bubble-castle-clouds,
    -2em -20em 0 $bubble-castle-clouds,
    -1em -20em 0 $bubble-castle-clouds,
    0em -20em 0 $bubble-castle-clouds,
    1em -20em 0 $bubble-castle-clouds,
    2em -20em 0 $bubble-castle-clouds,
    
    // Line -21
    -10em -21em 0 $bubble-castle-clouds,
    -9em -21em 0 $bubble-castle-clouds,
    -8em -21em 0 $bubble-castle-clouds,
    -7em -21em 0 $bubble-castle-clouds,
    -6em -21em 0 $bubble-castle-clouds,
    -5em -21em 0 $bubble-castle-clouds,
    -4em -21em 0 $bubble-castle-clouds,
    -3em -21em 0 $bubble-castle-clouds,
    -2em -21em 0 $bubble-castle-clouds,
    -1em -21em 0 $bubble-castle-clouds,
    0em -21em 0 $bubble-castle-clouds,
    1em -21em 0 $bubble-castle-clouds,
    2em -21em 0 $bubble-castle-clouds,
    3em -21em 0 $bubble-castle-clouds,
    4em -21em 0 $bubble-castle-clouds,
    5em -21em 0 $bubble-castle-clouds,
    6em -21em 0 $bubble-castle-clouds,
    7em -21em 0 $bubble-castle-clouds,
    
    // Line -22
    -10em -22em 0 $bubble-castle-clouds,
    -9em -22em 0 $bubble-castle-clouds,
    -8em -22em 0 $bubble-castle-clouds,
    -7em -22em 0 $bubble-castle-clouds,
    -6em -22em 0 $bubble-castle-clouds,
    -5em -22em 0 $bubble-castle-clouds,
    -4em -22em 0 $bubble-castle-clouds,
    -3em -22em 0 $bubble-castle-clouds,
    -2em -22em 0 $bubble-castle-clouds,
    -1em -22em 0 $bubble-castle-clouds,
    0em -22em 0 $bubble-castle-clouds,
    1em -22em 0 $bubble-castle-clouds,
    2em -22em 0 $bubble-castle-clouds,
    3em -22em 0 $bubble-castle-clouds,
    4em -22em 0 $bubble-castle-clouds,
    5em -22em 0 $bubble-castle-clouds,
    6em -22em 0 $bubble-castle-clouds,
    7em -22em 0 $bubble-castle-clouds,
    8em -22em 0 $bubble-castle-clouds,
    9em -22em 0 $bubble-castle-clouds,
    10em -22em 0 $bubble-castle-clouds,
    11em -22em 0 $bubble-castle-clouds,
    12em -22em 0 $bubble-castle-clouds,
    13em -22em 0 $bubble-castle-clouds,
    14em -22em 0 $bubble-castle-clouds,
    15em -22em 0 $bubble-castle-clouds,
    
    // Line -23
    -10em -23em 0 $bubble-castle-clouds,
    -9em -23em 0 $bubble-castle-clouds,
    -8em -23em 0 $bubble-castle-clouds,
    -7em -23em 0 $bubble-castle-clouds,
    -6em -23em 0 $bubble-castle-clouds,
    -5em -23em 0 $bubble-castle-clouds,
    -4em -23em 0 $bubble-castle-clouds,
    -3em -23em 0 $bubble-castle-clouds,
    -2em -23em 0 $bubble-castle-clouds,
    -1em -23em 0 $bubble-castle-clouds,
    0em -23em 0 $bubble-castle-clouds,
    1em -23em 0 $bubble-castle-clouds,
    2em -23em 0 $bubble-castle-clouds,
    3em -23em 0 $bubble-castle-clouds,
    4em -23em 0 $bubble-castle-clouds,
    5em -23em 0 $bubble-castle-clouds,
    6em -23em 0 $bubble-castle-clouds,
    7em -23em 0 $bubble-castle-clouds,
    
    // Line -24
    -10em -24em 0 $bubble-castle-clouds,
    -7em -24em 0 $bubble-castle-snow,
    -6em -24em 0 $bubble-castle-wall-alt,
    -5em -24em 0 $bubble-castle-wall-alt,
    -4em -24em 0 $bubble-castle-wall,
    -3em -24em 0 $bubble-castle-wall,
    -2em -24em 0 $bubble-castle-snow,
    0em -24em 0 $bubble-castle-clouds,
    1em -24em 0 $bubble-castle-clouds,
    2em -24em 0 $bubble-castle-clouds,
    3em -24em 0 $bubble-castle-clouds,
    4em -24em 0 $bubble-castle-clouds,
    5em -24em 0 $bubble-castle-clouds,
    6em -24em 0 $bubble-castle-clouds,
    7em -24em 0 $bubble-castle-clouds,
    8em -24em 0 $bubble-castle-clouds,
    9em -24em 0 $bubble-castle-clouds,
    10em -24em 0 $bubble-castle-clouds,
    11em -24em 0 $bubble-castle-clouds,
    12em -24em 0 $bubble-castle-clouds,
    
    // Line -25
    -10em -25em 0 $bubble-castle-clouds,
    -7em -25em 0 $bubble-castle-snow,
    -6em -25em 0 $bubble-castle-snow,
    -5em -25em 0 $bubble-castle-wall-alt,
    -4em -25em 0 $bubble-castle-wall-alt,
    -3em -25em 0 $bubble-castle-wall,
    -2em -25em 0 $bubble-castle-snow,
    3em -25em 0 $bubble-castle-clouds,
    4em -25em 0 $bubble-castle-clouds,
    5em -25em 0 $bubble-castle-clouds,
    
    // Line -26
    -10em -26em 0 $bubble-castle-clouds,
    -9em -26em 0 $bubble-castle-clouds,
    -8em -26em 0 $bubble-castle-clouds,
    -7em -26em 0 $bubble-castle-snow,
    -6em -26em 0 $bubble-castle-snow,
    -5em -26em 0 $bubble-castle-wall-alt,
    -4em -26em 0 $bubble-castle-wall-alt,
    -3em -26em 0 $bubble-castle-wall,
    -2em -26em 0 $bubble-castle-snow,
    -1em -26em 0 $bubble-castle-clouds,
    0em -26em 0 $bubble-castle-clouds,
    1em -26em 0 $bubble-castle-clouds,
    2em -26em 0 $bubble-castle-clouds,
    3em -26em 0 $bubble-castle-clouds,
    4em -26em 0 $bubble-castle-clouds,
    5em -26em 0 $bubble-castle-clouds,
    6em -26em 0 $bubble-castle-clouds,
    7em -26em 0 $bubble-castle-clouds,
    8em -26em 0 $bubble-castle-clouds,
    9em -26em 0 $bubble-castle-clouds,
    10em -26em 0 $bubble-castle-clouds,
    11em -26em 0 $bubble-castle-clouds,
    12em -26em 0 $bubble-castle-clouds,
    13em -26em 0 $bubble-castle-clouds,
    14em -26em 0 $bubble-castle-clouds,
    15em -26em 0 $bubble-castle-clouds,
    16em -26em 0 $bubble-castle-clouds,
    17em -26em 0 $bubble-castle-clouds,
    18em -26em 0 $bubble-castle-clouds,
    19em -26em 0 $bubble-castle-clouds,
    20em -26em 0 $bubble-castle-clouds,
    21em -26em 0 $bubble-castle-clouds,
    22em -26em 0 $bubble-castle-clouds,
    23em -26em 0 $bubble-castle-clouds,
    
    // Line -27
    -6em -27em 0 $bubble-castle-snow,
    -5em -27em 0 $bubble-castle-wall-alt,
    -4em -27em 0 $bubble-castle-wall-alt,
    -3em -27em 0 $bubble-castle-wall-alt,
    -2em -27em 0 $bubble-castle-snow,
    3em -27em 0 $bubble-castle-clouds,
    4em -27em 0 $bubble-castle-clouds,
    5em -27em 0 $bubble-castle-clouds,
    6em -27em 0 $bubble-castle-clouds,
    7em -27em 0 $bubble-castle-clouds,
    8em -27em 0 $bubble-castle-clouds,
    9em -27em 0 $bubble-castle-clouds,
    10em -27em 0 $bubble-castle-clouds,
    11em -27em 0 $bubble-castle-clouds,
    12em -27em 0 $bubble-castle-clouds,
    13em -27em 0 $bubble-castle-clouds,
    14em -27em 0 $bubble-castle-clouds,
    15em -27em 0 $bubble-castle-clouds,
    16em -27em 0 $bubble-castle-clouds,
    17em -27em 0 $bubble-castle-clouds,
    
    // Line -28
    -6em -28em 0 $bubble-castle-snow,
    -5em -28em 0 $bubble-castle-wall-alt,
    -4em -28em 0 $bubble-castle-snow,
    -3em -28em 0 $bubble-castle-snow,
    -2em -28em 0 $bubble-castle-snow,
    
    // Line -29
    -6em -29em 0 $bubble-castle-snow,
    -5em -29em 0 $bubble-castle-snow,
    -4em -29em 0 $bubble-castle-snow,
    -3em -29em 0 $bubble-castle-snow,
    -2em -29em 0 $bubble-castle-snow,
   
    // Line -30
    -6em -30em 0 $bubble-castle-snow,
    -5em -30em 0 $bubble-castle-snow,
    -4em -30em 0 $bubble-castle-snow,
    -3em -30em 0 $bubble-castle-snow,
    -2em -30em 0 $bubble-castle-snow,
}

.princess-bubblegum {
  background: $bubble-dress-accent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 6em;
  margin-left: -18em;
  height: 1em;
  width: 1em;
  box-shadow: 
    // Line 0
    -4em 0 0 $bubble-skin,
    -2em 0 0 $bubble-dress-accent,
    -1em 0 0 $bubble-dress-accent,
    1em 0 0 $bubble-dress-accent,
    2em 0 0 $bubble-dress-accent,
    4em 0 0 $bubble-skin,
    
    // Line 1
    -3em 1em 0 $bubble-dress,
    -2em 1em 0 $bubble-dress,
    -1em 1em 0 $bubble-dress,
    0em 1em 0 $bubble-dress,
    1em 1em 0 $bubble-dress,
    2em 1em 0 $bubble-dress,
    3em 1em 0 $bubble-dress,
    
    // Line 2
    -4em 2em 0 $bubble-dress,
    -3em 2em 0 $bubble-dress,
    -2em 2em 0 $bubble-dress,
    -1em 2em 0 $bubble-dress,
    0em 2em 0 $bubble-dress,
    1em 2em 0 $bubble-dress,
    2em 2em 0 $bubble-dress,
    3em 2em 0 $bubble-dress,
    4em 2em 0 $bubble-dress,
    
    // Line 3
    -5em 3em 0 $bubble-dress,
    -4em 3em 0 $bubble-dress,
    -3em 3em 0 $bubble-dress,
    -2em 3em 0 $bubble-dress,
    -1em 3em 0 $bubble-dress,
    0em 3em 0 $bubble-dress,
    1em 3em 0 $bubble-dress,
    2em 3em 0 $bubble-dress,
    3em 3em 0 $bubble-dress,
    4em 3em 0 $bubble-dress,
    5em 3em 0 $bubble-dress,
    
    // Line 4
    -6em 4em 0 $bubble-dress,
    -5em 4em 0 $bubble-dress,
    -4em 4em 0 $bubble-dress,
    -3em 4em 0 $bubble-dress,
    -2em 4em 0 $bubble-dress,
    -1em 4em 0 $bubble-dress,
    0em 4em 0 $bubble-dress,
    1em 4em 0 $bubble-dress,
    2em 4em 0 $bubble-dress,
    3em 4em 0 $bubble-dress,
    4em 4em 0 $bubble-dress,
    5em 4em 0 $bubble-dress,
    6em 4em 0 $bubble-dress,
    
    // Line 5
    -7em 5em 0 $bubble-dress,
    -6em 5em 0 $bubble-dress,
    -5em 5em 0 $bubble-dress,
    -4em 5em 0 $bubble-dress,
    -3em 5em 0 $bubble-dress,
    -2em 5em 0 $bubble-dress,
    -1em 5em 0 $bubble-dress,
    0em 5em 0 $bubble-dress,
    1em 5em 0 $bubble-dress,
    2em 5em 0 $bubble-dress,
    3em 5em 0 $bubble-dress,
    4em 5em 0 $bubble-dress,
    5em 5em 0 $bubble-dress,
    6em 5em 0 $bubble-dress,
    7em 5em 0 $bubble-dress,
    
    // Line 6
    -7em 6em 0 $bubble-dress,
    -6em 6em 0 $bubble-dress,
    -5em 6em 0 $bubble-dress,
    -4em 6em 0 $bubble-dress,
    -3em 6em 0 $bubble-dress,
    -2em 6em 0 $bubble-dress,
    -1em 6em 0 $bubble-dress,
    0em 6em 0 $bubble-dress,
    1em 6em 0 $bubble-dress,
    2em 6em 0 $bubble-dress,
    3em 6em 0 $bubble-dress,
    4em 6em 0 $bubble-dress,
    5em 6em 0 $bubble-dress,
    6em 6em 0 $bubble-dress,
    7em 6em 0 $bubble-dress,
    
    // Line 7
    -7em 7em 0 $bubble-dress,
    -6em 7em 0 $bubble-dress,
    -5em 7em 0 $bubble-dress,
    -4em 7em 0 $bubble-dress,
    -3em 7em 0 $bubble-dress,
    -2em 7em 0 $bubble-dress,
    -1em 7em 0 $bubble-dress,
    0em 7em 0 $bubble-dress,
    1em 7em 0 $bubble-dress,
    2em 7em 0 $bubble-dress,
    3em 7em 0 $bubble-dress,
    4em 7em 0 $bubble-dress,
    5em 7em 0 $bubble-dress,
    6em 7em 0 $bubble-dress,
    7em 7em 0 $bubble-dress,
    
    // Line 8
    -7em 8em 0 $bubble-dress,
    -6em 8em 0 $bubble-dress,
    -5em 8em 0 $bubble-dress,
    -4em 8em 0 $bubble-dress,
    -3em 8em 0 $bubble-dress,
    -2em 8em 0 $bubble-dress,
    -1em 8em 0 $bubble-dress,
    0em 8em 0 $bubble-dress,
    1em 8em 0 $bubble-dress,
    2em 8em 0 $bubble-dress,
    3em 8em 0 $bubble-dress,
    4em 8em 0 $bubble-dress,
    5em 8em 0 $bubble-dress,
    6em 8em 0 $bubble-dress,
    7em 8em 0 $bubble-dress,
    
    // Line 9
    -7em 9em 0 $bubble-dress,
    -6em 9em 0 $bubble-dress,
    -5em 9em 0 $bubble-dress,
    -4em 9em 0 $bubble-dress,
    -3em 9em 0 $bubble-dress,
    -2em 9em 0 $bubble-dress,
    -1em 9em 0 $bubble-dress,
    0em 9em 0 $bubble-dress,
    1em 9em 0 $bubble-dress,
    2em 9em 0 $bubble-dress,
    3em 9em 0 $bubble-dress,
    4em 9em 0 $bubble-dress,
    5em 9em 0 $bubble-dress,
    6em 9em 0 $bubble-dress,
    7em 9em 0 $bubble-dress,
    
    // Line 10
    -6em 10em 0 $bubble-dress,
    -5em 10em 0 $bubble-dress,
    -4em 10em 0 $bubble-dress,
    -3em 10em 0 $bubble-dress,
    -2em 10em 0 $bubble-dress,
    -1em 10em 0 $bubble-dress,
    0em 10em 0 $bubble-dress,
    1em 10em 0 $bubble-dress,
    2em 10em 0 $bubble-dress,
    3em 10em 0 $bubble-dress,
    4em 10em 0 $bubble-dress,
    5em 10em 0 $bubble-dress,
    6em 10em 0 $bubble-dress,
    
    // Line -1
    -4em -1em 0 $bubble-skin,
    -2em -1em 0 $bubble-dress,
    -1em -1em 0 $bubble-dress-alt,
    0 -1em 0 $bubble-dress,
    1em -1em 0 $bubble-dress-alt,
    2em -1em 0 $bubble-dress,
    4em -1em 0 $bubble-skin,
    
    // Line -2
    -4em -2em 0 $bubble-skin,
    -2em -2em 0 $bubble-dress-alt,
    -1em -2em 0 $bubble-dress,
    0em -2em 0 $bubble-dress-alt,
    1em -2em 0 $bubble-dress,
    2em -2em 0 $bubble-dress-alt,
    4em -2em 0 $bubble-skin,
    
    // Line -3
    -4em -3em 0 $bubble-skin,
    -2em -3em 0 $bubble-dress,
    -1em -3em 0 $bubble-dress-alt,
    0em -3em 0 $bubble-dress,
    1em -3em 0 $bubble-dress-alt,
    2em -3em 0 $bubble-dress,
    4em -3em 0 $bubble-skin,
    
    // Line -4
    -4em -4em 0 $bubble-skin,
    -2em -4em 0 $bubble-dress-alt,
    -1em -4em 0 $bubble-dress-accent,
    0em -4em 0 $bubble-dress-accent,
    1em -4em 0 $bubble-dress-accent,
    2em -4em 0 $bubble-dress-alt,
    4em -4em 0 $bubble-skin,
    
    // Line -5
    -4em -5em 0 $bubble-skin,
    -2em -5em 0 $bubble-dress-accent,
    -1em -5em 0 $bubble-skin,
    0em -5em 0 $bubble-skin,
    1em -5em 0 $bubble-skin,
    2em -5em 0 $bubble-dress-accent,
    4em -5em 0 $bubble-skin,
    
    // Line -6
    -4em -6em 0 $bubble-dress,
    -3em -6em 0 $bubble-dress,
    -2em -6em 0 $bubble-skin,
    -1em -6em 0 $bubble-skin,
    0em -6em 0 $bubble-skin,
    1em -6em 0 $bubble-skin,
    2em -6em 0 $bubble-skin,
    3em -6em 0 $bubble-dress,
    4em -6em 0 $bubble-dress,
    
    // Line -7
    -4em -7em 0 $bubble-dress,
    -3em -7em 0 $bubble-dress,
    -1em -7em 0 $bubble-skin,
    0em -7em 0 $bubble-skin,
    1em -7em 0 $bubble-skin,
    3em -7em 0 $bubble-dress,
    4em -7em 0 $bubble-dress,
    
    // Line -8
    -2em -8em 0 $bubble-skin,
    -1em -8em 0 $bubble-skin,
    0em -8em 0 $bubble-skin,
    1em -8em 0 $bubble-skin,
    2em -8em 0 $bubble-skin,
    
    // Line -9
    -4em -9em 0 $bubble-hair,
    -3em -9em 0 $bubble-hair,
    -2em -9em 0 $bubble-skin,
    -1em -9em 0 $bubble-skin,
    0em -9em 0 $bubble-skin,
    1em -9em 0 $bubble-skin,
    2em -9em 0 $bubble-skin,
    3em -9em 0 $bubble-hair,
    4em -9em 0 $bubble-hair,
    
    // Line -10
    -4em -10em 0 $bubble-hair,
    -3em -10em 0 $bubble-hair,
    -2em -10em 0 $bubble-skin,
    -1em -10em 0 $bubble-eyes,
    0em -10em 0 $bubble-skin,
    1em -10em 0 $bubble-eyes,
    2em -10em 0 $bubble-skin,
    3em -10em 0 $bubble-hair,
    4em -10em 0 $bubble-hair,
    
    // Line -11
    -3em -11em 0 $bubble-hair,
    -2em -11em 0 $bubble-skin,
    -1em -11em 0 $bubble-skin,
    0em -11em 0 $bubble-skin,
    1em -11em 0 $bubble-skin,
    2em -11em 0 $bubble-skin,
    3em -11em 0 $bubble-hair,
    
    // Line -12
    -3em -12em 0 $bubble-crown,
    -2em -12em 0 $bubble-crown,
    -1em -12em 0 $bubble-crown,
    0em -12em 0 $bubble-crown,
    1em -12em 0 $bubble-crown,
    2em -12em 0 $bubble-crown,
    3em -12em 0 $bubble-crown,
    
    // Line -13
    -2em -13em 0 $bubble-hair,
    -1em -13em 0 $bubble-hair,
    0em -13em 0 $bubble-crown,
    1em -13em 0 $bubble-hair,
    2em -13em 0 $bubble-hair,
    
    // Line -14
    0em -14em $bubble-crown,
    
    // Line -15
    0em -15em $bubble-crown;
}

.fin {
  background: $fin-pants;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 5em;
  height: 1em;
  width: 1em;
  box-shadow: 
    // Line 0
    -5em 0 0 $fin-skin,
    -3em 0 0 $fin-pants,
    -2em 0 0 $fin-pants,
    -2em 0 0 $fin-pants,
    -1em 0 0 $fin-pants,
    1em 0 0 $fin-pants,
    2em 0 0 $fin-pants,
    3em 0 0 $fin-pants,
    5em 0 0 $fin-skin,
    
    // Line 1
    -3em 1em 0 $fin-pants,
    -2em 1em 0 $fin-pants,
    -1em 1em 0 $fin-pants,
    0em 1em 0 $fin-pants,
    1em 1em 0 $fin-pants,
    2em 1em 0 $fin-pants,
    3em 1em 0 $fin-pants,
    
    // Line 2
    -3em 2em 0 $fin-pants,
    3em 2em 0 $fin-pants,
    
    // Line 3
    -3em 3em 0 $fin-pants,
    3em 3em 0 $fin-pants,
    
    // Line 4
    -3em 4em 0 $fin-skin,
    3em 4em 0 $fin-skin,
    
    // Line 5
    -3em 5em 0 $fin-skin,
    3em 5em 0 $fin-skin,
    
    // Line 6
    -3em 6em 0 $fin-skin,
    3em 6em 0 $fin-skin,
    
    // Line 7
    -3em 7em 0 $fin-skin,
    3em 7em 0 $fin-skin,
    
    // Line 8
    -3em 8em 0 $fin-socks,
    3em 8em 0 $fin-socks,
    
    // Line 9
    -3em 9em 0 $fin-shoes,
    3em 9em 0 $fin-shoes,
    
    // Line 10
    -4em 10em 0 $fin-shoes,
    -3em 10em 0 $fin-shoes,
    3em 10em 0 $fin-shoes,
    4em 10em 0 $fin-shoes,
    
    // Line -1
    -5em -1em 0 $fin-skin,
    -3em -1em 0 $fin-shirt,
    -2em -1em 0 $fin-shirt,
    -2em -1em 0 $fin-shirt,
    -1em -1em 0 $fin-shirt,
    0em -1em 0 $fin-shirt,
    1em -1em 0 $fin-shirt,
    2em -1em 0 $fin-shirt,
    3em -1em 0 $fin-shirt,
    5em -1em 0 $fin-skin,
    
    // Line -2
    -5em -2em 0 $fin-skin,
    -3em -2em 0 $fin-shirt,
    -2em -2em 0 $fin-shirt,
    -2em -2em 0 $fin-shirt,
    -1em -2em 0 $fin-shirt,
    0em -2em 0 $fin-shirt,
    1em -2em 0 $fin-shirt,
    2em -2em 0 $fin-shirt,
    3em -2em 0 $fin-shirt,
    5em -2em 0 $fin-skin,
    
    // Line -3
    -5em -3em 0 $fin-skin,
    -3em -3em 0 $fin-shirt,
    -2em -3em 0 $fin-shirt,
    -2em -3em 0 $fin-shirt,
    -1em -3em 0 $fin-shirt,
    0em -3em 0 $fin-shirt,
    1em -3em 0 $fin-shirt,
    2em -3em 0 $fin-shirt,
    3em -3em 0 $fin-shirt,
    5em -3em 0 $fin-skin,
    
    // Line -4
    -5em -4em 0 $fin-skin,
    -3em -4em 0 $fin-shirt,
    -2em -4em 0 $fin-shirt,
    -2em -4em 0 $fin-shirt,
    -1em -4em 0 $fin-shirt,
    0em -4em 0 $fin-shirt,
    1em -4em 0 $fin-shirt,
    2em -4em 0 $fin-shirt,
    3em -4em 0 $fin-shirt,
    5em -4em 0 $fin-skin,
    
    // Line -5
    -5em -5em 0 $fin-skin,
    -3em -5em 0 $fin-shirt,
    -2em -5em 0 $fin-shirt,
    -2em -5em 0 $fin-shirt,
    -1em -5em 0 $fin-shirt,
    0em -5em 0 $fin-shirt,
    1em -5em 0 $fin-shirt,
    2em -5em 0 $fin-shirt,
    3em -5em 0 $fin-shirt,
    5em -5em 0 $fin-skin,
    
    // Line -6
    -5em -6em 0 $fin-skin,
    -3em -6em 0 $fin-shirt,
    -2em -6em 0 $fin-shirt,
    -2em -6em 0 $fin-shirt,
    -1em -6em 0 $fin-shirt,
    0em -6em 0 $fin-shirt,
    1em -6em 0 $fin-shirt,
    2em -6em 0 $fin-shirt,
    3em -6em 0 $fin-shirt,
    5em -6em 0 $fin-skin,
    
    // Line -7
    -5em -7em 0 $fin-shirt,
    -4em -7em 0 $fin-straps,
    -3em -7em 0 $fin-shirt,
    -2em -7em 0 $fin-shirt,
    -2em -7em 0 $fin-shirt,
    -1em -7em 0 $fin-shirt,
    0em -7em 0 $fin-shirt,
    1em -7em 0 $fin-shirt,
    2em -7em 0 $fin-shirt,
    3em -7em 0 $fin-shirt,
    4em -7em 0 $fin-straps,
    5em -7em 0 $fin-shirt,
    
    // Line -8
    -5em -8em 0 $fin-shirt,
    -4em -8em 0 $fin-straps,
    -3em -8em 0 $fin-shirt,
    -2em -8em 0 $fin-shirt,
    -2em -8em 0 $fin-shirt,
    -1em -8em 0 $fin-shirt,
    0em -8em 0 $fin-shirt,
    1em -8em 0 $fin-shirt,
    2em -8em 0 $fin-shirt,
    3em -8em 0 $fin-shirt,
    4em -8em 0 $fin-straps,
    5em -8em 0 $fin-shirt,
    
    // Line -9
    -4em -9em 0 $fin-straps,
    -3em -9em 0 $fin-shirt,
    -2em -9em 0 $fin-shirt,
    -2em -9em 0 $fin-shirt,
    -1em -9em 0 $fin-shirt,
    0em -9em 0 $fin-shirt,
    1em -9em 0 $fin-shirt,
    2em -9em 0 $fin-shirt,
    3em -9em 0 $fin-shirt,
    4em -9em 0 $fin-straps,
    
    // Line -10
    -4em -10em 0 $fin-straps,
    -3em -10em 0 $fin-hat,
    -2em -10em 0 $fin-hat,
    -2em -10em 0 $fin-hat,
    -1em -10em 0 $fin-hat,
    0em -10em 0 $fin-hat,
    1em -10em 0 $fin-hat,
    2em -10em 0 $fin-hat,
    3em -10em 0 $fin-hat,
    4em -10em 0 $fin-straps,
    
    // Line -11
    -3em -11em 0 $fin-hat,
    -2em -11em 0 $fin-hat,
    -1em -11em 0 $fin-skin,
    0em -11em 0 $fin-skin,
    1em -11em 0 $fin-skin,
    2em -11em 0 $fin-hat,
    3em -11em 0 $fin-hat,
    
    // Line -12
    -3em -12em 0 $fin-hat,
    -2em -12em 0 $fin-skin,
    -1em -12em 0 $fin-skin,
    0em -12em 0 $fin-skin,
    1em -12em 0 $fin-skin,
    2em -12em 0 $fin-skin,
    3em -12em 0 $fin-hat,
    
    // Line -13
    -3em -13em 0 $fin-hat,
    -2em -13em 0 $fin-skin,
    -1em -13em 0 $fin-eyes,
    0em -13em 0 $fin-skin,
    1em -13em 0 $fin-eyes,
    2em -13em 0 $fin-skin,
    3em -13em 0 $fin-hat,
    
    // Line -14
    -3em -14em 0 $fin-hat,
    -2em -14em 0 $fin-skin,
    -1em -14em 0 $fin-skin,
    0em -14em 0 $fin-skin,
    1em -14em 0 $fin-skin,
    2em -14em 0 $fin-skin,
    3em -14em 0 $fin-hat,
    
    // Line -15
    -3em -15em 0 $fin-hat,
    -2em -15em 0 $fin-hat,
    -1em -15em 0 $fin-skin,
    0em -15em 0 $fin-skin,
    1em -15em 0 $fin-skin,
    2em -15em 0 $fin-hat,
    3em -15em 0 $fin-hat,
    
    // Line -16
    -3em -16em 0 $fin-hat,
    -2em -16em 0 $fin-hat,
    -1em -16em 0 $fin-hat,
    0em -16em 0 $fin-hat,
    1em -16em 0 $fin-hat,
    2em -16em 0 $fin-hat,
    3em -16em 0 $fin-hat,
    
    // Line -17
    -3em -17em 0 $fin-hat,
    3em -17em 0 $fin-hat;
}

.jake {
  background: $jake-skin;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 5em;
  margin-left: 18em;
  height: 1em;
  width: 1em;
  box-shadow: 
    // Line 0
    -7em 0 0 $jake-skin,
    -6em 0 0 $jake-skin,
    -5em 0 0 $jake-skin,
    -4em 0 0 $jake-skin,
    -3em 0 0 $jake-skin,
    -2em 0 0 $jake-skin,
    -1em 0 0 $jake-skin,
    0em 0 0 $jake-skin,
    1em 0 0 $jake-skin,
    2em 0 0 $jake-skin,
    3em 0 0 $jake-skin,
    4em 0 0 $jake-skin,
    5em 0 0 $jake-skin,
    6em 0 0 $jake-skin,
    
    // Line 1
    -7em 1em 0 $jake-skin,
    -6em 1em 0 $jake-skin,
    -5em 1em 0 $jake-skin,
    -4em 1em 0 $jake-skin,
    -3em 1em 0 $jake-skin,
    -2em 1em 0 $jake-skin,
    -1em 1em 0 $jake-skin,
    0em 1em 0 $jake-skin,
    1em 1em 0 $jake-skin,
    2em 1em 0 $jake-skin,
    3em 1em 0 $jake-skin,
    4em 1em 0 $jake-skin,
    5em 1em 0 $jake-skin,
    6em 1em 0 $jake-skin,
    
    // Line 2
    -7em 2em 0 $jake-skin,
    -6em 2em 0 $jake-skin,
    -5em 2em 0 $jake-skin,
    -4em 2em 0 $jake-skin,
    -3em 2em 0 $jake-skin,
    -2em 2em 0 $jake-skin,
    -1em 2em 0 $jake-skin,
    0em 2em 0 $jake-skin,
    1em 2em 0 $jake-skin,
    2em 2em 0 $jake-skin,
    3em 2em 0 $jake-skin,
    4em 2em 0 $jake-skin,
    5em 2em 0 $jake-skin,
    6em 2em 0 $jake-skin,
    
    // Line 3
    -7em 3em 0 $jake-skin,
    -6em 3em 0 $jake-skin,
    -5em 3em 0 $jake-skin,
    -4em 3em 0 $jake-skin,
    -3em 3em 0 $jake-skin,
    -2em 3em 0 $jake-skin,
    -1em 3em 0 $jake-skin,
    0em 3em 0 $jake-skin,
    1em 3em 0 $jake-skin,
    2em 3em 0 $jake-skin,
    3em 3em 0 $jake-skin,
    4em 3em 0 $jake-skin,
    5em 3em 0 $jake-skin,
    6em 3em 0 $jake-skin,
    
    // Line 4
    -7em 4em 0 $jake-skin,
    -6em 4em 0 $jake-skin,
    -5em 4em 0 $jake-skin,
    -4em 4em 0 $jake-skin,
    -3em 4em 0 $jake-skin,
    -2em 4em 0 $jake-skin,
    -1em 4em 0 $jake-skin,
    0em 4em 0 $jake-skin,
    1em 4em 0 $jake-skin,
    2em 4em 0 $jake-skin,
    3em 4em 0 $jake-skin,
    4em 4em 0 $jake-skin,
    5em 4em 0 $jake-skin,
    6em 4em 0 $jake-skin,
    
    // Line 5
    -6em 5em 0 $jake-skin,
    -5em 5em 0 $jake-skin,
    -4em 5em 0 $jake-skin,
    -3em 5em 0 $jake-skin,
    -2em 5em 0 $jake-skin,
    -1em 5em 0 $jake-skin,
    0em 5em 0 $jake-skin,
    1em 5em 0 $jake-skin,
    2em 5em 0 $jake-skin,
    3em 5em 0 $jake-skin,
    4em 5em 0 $jake-skin,
    5em 5em 0 $jake-skin,
    
    // Line 6
    -5em 6em 0 $jake-skin,
    -4em 6em 0 $jake-skin,
    -3em 6em 0 $jake-skin,
    2em 6em 0 $jake-skin,
    3em 6em 0 $jake-skin,
    4em 6em 0 $jake-skin,
    
    // Line 7
    -5em 7em 0 $jake-skin,
    -4em 7em 0 $jake-skin,
    3em 7em 0 $jake-skin,
    4em 7em 0 $jake-skin,
    
    // Line 8
    -5em 8em 0 $jake-skin,
    -4em 8em 0 $jake-skin,
    3em 8em 0 $jake-skin,
    4em 8em 0 $jake-skin,
    
    // Line 9
    -5em 9em 0 $jake-skin,
    -4em 9em 0 $jake-skin,
    3em 9em 0 $jake-skin,
    4em 9em 0 $jake-skin,
    
    // Line 10
    -5em 10em 0 $jake-skin,
    -4em 10em 0 $jake-skin,
    3em 10em 0 $jake-skin,
    4em 10em 0 $jake-skin,
    
    // Line -1
    -6em -1em 0 $jake-skin,
    -5em -1em 0 $jake-skin,
    -4em -1em 0 $jake-skin,
    -3em -1em 0 $jake-nose,
    -2em -1em 0 $jake-nose,
    -1em -1em 0 $jake-skin,
    0em -1em 0 $jake-skin,
    1em -1em 0 $jake-nose,
    2em -1em 0 $jake-nose,
    3em -1em 0 $jake-skin,
    4em -1em 0 $jake-skin,
    5em -1em 0 $jake-skin,
    
    // Line -2
    -5em -2em 0 $jake-skin,
    -4em -2em 0 $jake-skin,
    -3em -2em 0 $jake-nose,
    -2em -2em 0 $jake-nose,
    -1em -2em 0 $jake-skin,
    0em -2em 0 $jake-skin,
    1em -2em 0 $jake-nose,
    2em -2em 0 $jake-nose,
    3em -2em 0 $jake-skin,
    4em -2em 0 $jake-skin,
    
    // Line -3
    -6em -3em 0 $jake-skin,
    -5em -3em 0 $jake-skin,
    -4em -3em 0 $jake-skin,
    -3em -3em 0 $jake-nose,
    -2em -3em 0 $jake-nose,
    -1em -3em 0 $jake-nose-alt,
    0em -3em 0 $jake-nose-alt,
    1em -3em 0 $jake-nose,
    2em -3em 0 $jake-nose,
    3em -3em 0 $jake-skin,
    4em -3em 0 $jake-skin,
    5em -3em 0 $jake-skin,
    
    // Line -4
    -6em -4em 0 $jake-skin,
    -5em -4em 0 $jake-skin,
    -4em -4em 0 $jake-eyes-alt,
    -3em -4em 0 $jake-eyes-alt,
    -2em -4em 0 $jake-nose,
    -1em -4em 0 $jake-nose,
    0em -4em 0 $jake-nose,
    1em -4em 0 $jake-nose,
    2em -4em 0 $jake-eyes-alt,
    3em -4em 0 $jake-eyes-alt,
    4em -4em 0 $jake-skin,
    5em -4em 0 $jake-skin,
    
    // Line -5
    -6em -5em 0 $jake-skin,
    -5em -5em 0 $jake-skin,
    -4em -5em 0 $jake-eyes,
    -3em -5em 0 $jake-eyes,
    -2em -5em 0 $jake-eyes-alt,
    -1em -5em 0 $jake-skin,
    0em -5em 0 $jake-skin,
    1em -5em 0 $jake-eyes,
    2em -5em 0 $jake-eyes,
    3em -5em 0 $jake-eyes-alt,
    4em -5em 0 $jake-skin,
    5em -5em 0 $jake-skin,
    
    // Line -6
    -6em -6em 0 $jake-skin,
    -5em -6em 0 $jake-skin,
    -4em -6em 0 $jake-eyes,
    -3em -6em 0 $jake-eyes,
    -2em -6em 0 $jake-eyes-alt,
    -1em -6em 0 $jake-skin,
    0em -6em 0 $jake-skin,
    1em -6em 0 $jake-eyes,
    2em -6em 0 $jake-eyes,
    3em -6em 0 $jake-eyes-alt,
    4em -6em 0 $jake-skin,
    5em -6em 0 $jake-skin,
    
    // Line -7
    -5em -7em 0 $jake-skin,
    -4em -7em 0 $jake-skin,
    -3em -7em 0 $jake-skin,
    -2em -7em 0 $jake-skin,
    -1em -7em 0 $jake-skin,
    0em -7em 0 $jake-skin,
    1em -7em 0 $jake-skin,
    2em -7em 0 $jake-skin,
    3em -7em 0 $jake-skin,
    4em -7em 0 $jake-skin,
    
    // Line -8
    -4em -8em 0 $jake-skin,
    -3em -8em 0 $jake-skin,
    -2em -8em 0 $jake-skin,
    -1em -8em 0 $jake-skin,
    0em -8em 0 $jake-skin,
    1em -8em 0 $jake-skin,
    2em -8em 0 $jake-skin,
    3em -8em 0 $jake-skin,
    
    // Line -9
    -3em -9em 0 $jake-skin,
    -2em -9em 0 $jake-skin,
    -1em -9em 0 $jake-skin,
    0em -9em 0 $jake-skin,
    1em -9em 0 $jake-skin,
    2em -9em 0 $jake-skin,
}