@import "compass/css3";

html{
	background: radial-gradient(mix(#392741,#774151,20),#392741);
	background: -webkit-radial-gradient(mix(#392741,#774151,20),#392742);
	width: 100%;
	height: 100%;
}
.lastronaut{
	width: 20px;
	height: 20px;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -50px;
	box-shadow:

		-20px 160px 0px black,
		-20px 180px 0px black,
		-20px 200px 0px #ccc,
			0px 200px 0px #ccc,
		-20px 220px 0px black,
		-20px 240px 0px black,
		-20px 260px 0px black,
		-20px 280px 0px black,
		-20px 300px 0px black,
		-40px 300px 0px black,
		-60px 320px 0px black,
		-40px 320px 0px #444,
		-20px 320px 0px #444,
		0px 320px 0px #555,
		0px 300px 0px #888,
		0px 280px 0px #999,
		20px 280px 0px #999,
		20px 260px 0px #888,
		0px 260px 0px #777,
		0px 240px 0px #777,
		0px 220px 0px #777,
		20px 220px 0px #888,
		20px 240px 0px #888,
		20px 200px 0px #888,
		40px 200px 0px #888,
		40px 220px 0px #054767,
		60px 240px 0px #054767,
		60px 220px 0px #999,
		60px 200px 0px #999,
		40px 240px 0px #888,
		40px 260px 0px #888,
		40px 280px 0px #999,
		40px 300px 0px #888,
		20px 300px 0px #888,
		60px 260px 0px #999,
		60px 280px 0px #999,
		60px 300px 0px #888,
		80px 300px 0px #999,
		80px 280px 0px #999,
		80px 260px 0px #999,
		80px 240px 0px #999,
		80px 220px 0px #999,
		80px 200px 0px #999,
		80px 180px 0px #999,
		60px 180px 0px #888,
		40px 180px 0px #777,
		20px 180px 0px #666,
		0px 180px 0px #777,
		0px 160px 0px #999,
		20px 160px 0px #999,
		40px 160px 0px #ddd,
		60px 160px 0px #ddd,
		80px 160px 0px #ddd,
		100px 160px 0px #ddd,
		120px 160px 0px #ddd,
		40px 320px 0px black,
		80px 320px 0px black,
		100px 340px 0px black,
		120px 360px 0px black,
		140px 380px 0px black,
		140px 360px 0px #999,
		160px 360px 0px black,
		140px 340px 0px black,
		120px 340px 0px #999,
		100px 320px 0px #999,
		120px 320px 0px #999,
		120px 300px 0px #999,
		100px 300px 0px #999,
		100px 280px 0px #999,
		120px 280px 0px #999,
		140px 280px 0px black,
		140px 260px 0px black,
		120px 260px 0px #888,
		100px 260px 0px #999,
		100px 240px 0px #054767,
		120px 240px 0px #888,
		120px 220px 0px #054767,
		100px 220px 0px #999,
		140px 220px 0px black,
		140px 240px 0px black,
		160px 220px 0px #333,
		160px 240px 0px black,
		160px 200px 0px black,
		180px 220px 0px black,
		140px 180px 0px black,
		140px 200px 0px black,
		120px 200px 0px #888,
		120px 180px 0px #666,
		180px 200px 0px #810f0e,
		180px 180px 0px black,
		200px 200px 0px black,
		160px 140px 0px black,
		160px 120px 0px black,
		140px 100px 0px #ffcea0,
		120px 100px 0px #341c3e,
		120px 120px 0px #ffcea0,
		100px 120px 0px #ffcea0,
		80px 120px 0px #ffcea0,
		140px 120px 0px #ffcea0,
		160px 100px 0px black,
		100px 100px 0px #ffcea0,
		80px 100px 0px #ffcea0,
		60px 80px 0px #ffcea0,
		40px 80px 0px #ffcea0,
		80px 80px 0px #ffcea0,
		100px 80px 0px #ffcea0,
		120px 80px 0px #ffcea0,
		140px 80px 0px #ffcea0,
		160px 80px 0px black,
		100px 180px 0px #888,
		100px 200px 0px #999,
		140px 140px 0px #ffcea0,
		120px 140px 0px #ffcea0,
		100px 140px 0px #ffcea0,
		80px 140px 0px #ffcea0,
		60px 140px 0px #ffcea0,
		40px 140px 0px #ffcea0,
		40px 60px 0px #ebbb94,
		20px 60px 0px #ddd,
		20px 80px 0px #ebbb94,
		0px 60px 0px #ddd,
		0px 80px 0px #ddd,
		-20px 80px 0px #bbb,
		-20px 60px 0px #bbb,
		-40px 60px 0px black,
		-40px 80px 0px black,
		-20px 40px 0px black,
		-20px 20px 0px black,
		0px 40px 0px #bbb,
		0px 20px 0px #bbb,
		20px 20px 0px #bbb,
		20px 0px 0px black,
		20px 40px 0px #ddd,
		40px 40px 0px #ddd,
		40px 60px 0px #ebbb94,
		60px 60px 0px #ebbb94,
		80px 60px 0px #ebbb94,
		100px 60px 0px #ebbb94,
		120px 60px 0px #ebbb94,
		140px 60px 0px #ebbb94,
		160px 60px 0px black,
		160px 40px 0px black,
		140px 20px 0px black,
		120px 0px 0px black,
		100px 0px 0px black,
		80px 0px 0px black,
		60px 0px 0px black,
		40px 0px 0px black,
		40px 20px 0px #bbb,
		60px 20px 0px #bbb,
		80px 20px 0px #bbb,
		100px 20px 0px #bbb,
		120px 20px 0px #bbb,
		120px 40px 0px #ddd,
		100px 40px 0px #ddd,
		140px 40px 0px #ddd,
		80px 40px 0px #ddd,
		60px 40px 0px #ddd,
		20px 140px 0px #ddd,
		0px 140px 0px #ddd,
		-20px 140px 0px #bbb,
		-40px 140px 0px black,
		0px 120px 0px #ddd,
		-20px 120px 0px #bbb,
		-40px 120px 0px black,
		-40px 100px 0px black,
		-20px 100px 0px #bbb,
		0px 100px 0px #ddd,
		20px 100px 0px #ebbb94,
		40px 100px 0px #ffcea0,
		40px 120px 0px #ffcea0,
		60px 100px 0px #341c3e,
		60px 120px 0px #ffcea0,
		20px 120px 0px #ebbb94,
		140px 300px 0px black,
		140px 320px 0px black,
		60px 320px 0px black,
		140px 160px 0px black,
		20px 320px 0px black,
		-20px 340px 0px black,
		0px 340px 0px black,
		-40px 340px 0px black,
		-40px 200px 0px black,
		-40px 220px 0px #ccc,
		-40px 240px 0px #cc3a3b,
		-60px 220px 0px black,
		-60px 240px 0px black,
		-40px 260px 0px black,
		0px 450px 100px 10px #111,
		60px 450px 100px 10px #111;
}