$green: #81c000;
$brown: #c04000;
$tan: #fea040;

body {
  background-color: #27282E;
}

.link {
  margin: 100px auto;
  padding: 0;
  width: 10px;
  height: 10px;
  box-shadow:
              /* Row 1 */
              -40px 0 0 $green,
              -30px 0 0 $green,
              -20px 0 0 $green,
              -10px 0 0 $green,
              /* Row 2 */
              -60px 10px 0 $green,
              -50px 10px 0 $green,
              -40px 10px 0 $green,
              -30px 10px 0 $green,
              -20px 10px 0 $green,
              -10px 10px 0 $brown,
              0 10px 0 $brown,
              10px 10px 0 $brown,
              20px 10px 0 $brown,
              /* Row 3 */
              -70px 20px 0 $green,
              -60px 20px 0 $green,
              -50px 20px 0 $tan,
              -40px 20px 0 $green,
              -30px 20px 0 $green,
              -20px 20px 0 $brown,
              -10px 20px 0 $brown,
              0 20px 0 $brown,
              10px 20px 0 $brown,
              20px 20px 0 $brown,
              30px 20px 0 $brown,
              /* Row 4 */
              -70px 30px 0 $green,
              -60px 30px 0 $green,
              -50px 30px 0 $tan,
              -40px 30px 0 $tan,
              -30px 30px 0 $brown,
              -20px 30px 0 $brown,
              -10px 30px 0 $brown,
              0 30px 0 $brown,
              10px 30px 0 $brown,
              20px 30px 0 $brown,
              /* Row 5 */
              -80px 40px 0 $green,
              -70px 40px 0 $green,
              -60px 40px 0 $green,
              -50px 40px 0 $tan,
              -40px 40px 0 $tan,
              -30px 40px 0 $tan,
              -20px 40px 0 $brown,
              -10px 40px 0 $tan,
              0 40px 0 $tan,
              10px 40px 0 $green,
              20px 40px 0 $tan,
              /* Row 6 */
              -90px 50px 0 $green,
              -80px 50px 0 $green,
              -70px 50px 0 $green,
              -60px 50px 0 $brown,
              -50px 50px 0 $brown,
              -40px 50px 0 $tan,
              -30px 50px 0 $tan,
              -20px 50px 0 $brown,
              -10px 50px 0 $tan,
              0 50px 0 $tan,
              10px 50px 0 $brown,
              20px 50px 0 $tan,
              30px 50px 0 $tan,
              40px 50px 0 $tan,
              50px 50px 0 $green,
              /* Row 7 */
              -90px 60px 0 $green,
              -60px 60px 0 $brown,
              -50px 60px 0 $brown,
              -40px 60px 0 $brown,
              -30px 60px 0 $tan,
              -20px 60px 0 $tan,
              -10px 60px 0 $tan,
              0 60px 0 $tan,
              10px 60px 0 $tan,
              20px 60px 0 $tan,
              50px 60px 0 $green,
              /* Row 8 */
              -90px 70px 0 $green,
              -60px 70px 0 $green,
              -50px 70px 0 $green,
              -40px 70px 0 $green,
              -30px 70px 0 $green,
              -20px 70px 0 $green,
              -10px 70px 0 $tan,
              0 70px 0 $tan,
              10px 70px 0 $tan,
              20px 70px 0 $tan,
              30px 70px 0 $tan,
              40px 70px 0 $tan,
              50px 70px 0 $green,
              /* Row 8 */
              -60px 70px 0 $green,
              -50px 70px 0 $green,
              -40px 70px 0 $green,
              -30px 70px 0 $green,
              -20px 70px 0 $green,
              -10px 70px 0 $tan,
              0 70px 0 $tan,
              10px 70px 0 $tan,
              20px 70px 0 $tan,
              30px 70px 0 $tan,
              40px 70px 0 $tan,
              50px 70px 0 $green,
              60px 70px 0 $brown,
              70px 70px 0 $brown,
              80px 70px 0 $brown,
              90px 70px 0 $brown,
              100px 70px 0 $brown,
              110px 70px 0 $brown,
              120px 70px 0 $brown,
              130px 70px 0 $brown,
              140px 70px 0 $brown,
              150px 70px 0 $brown,
              160px 70px 0 $brown,
              /* Row 9 */
              -70px 80px 0 $green,
              -60px 80px 0 $green,
              -50px 80px 0 $brown,
              -40px 80px 0 $brown,
              -30px 80px 0 $brown,
              -20px 80px 0 $brown,
              -10px 80px 0 $brown,
              0 80px 0 $brown,
              10px 80px 0 $tan,
              20px 80px 0 $tan,
              30px 80px 0 $tan,
              40px 80px 0 $tan,
              50px 80px 0 $green,
              60px 80px 0 $brown,
              70px 80px 0 $brown,
              80px 80px 0 $brown,
              90px 80px 0 $brown,
              100px 80px 0 $brown,
              110px 80px 0 $brown,
              120px 80px 0 $brown,
              130px 80px 0 $brown,
              140px 80px 0 $brown,
              150px 80px 0 $brown,
              160px 80px 0 $brown,
              170px 80px 0 $brown,
              /* Row 10 */
              -70px 90px 0 $green,
              -60px 90px 0 $brown,
              -50px 90px 0 $brown,
              -40px 90px 0 $brown,
              -30px 90px 0 $brown,
              -20px 90px 0 $brown,
              -10px 90px 0 $brown,
              0 90px 0 $brown,
              10px 90px 0 $tan,
              20px 90px 0 $tan,
              30px 90px 0 $green,
              40px 90px 0 $tan,
              50px 90px 0 $green,
              60px 90px 0 $brown,
              70px 90px 0 $brown,
              80px 90px 0 $brown,
              90px 90px 0 $brown,
              100px 90px 0 $brown,
              110px 90px 0 $brown,
              120px 90px 0 $brown,
              130px 90px 0 $brown,
              140px 90px 0 $brown,
              150px 90px 0 $brown,
              160px 90px 0 $brown,
              /* Row 11 */
              -80px 100px 0 $green,
              -70px 100px 0 $green,
              -60px 100px 0 $brown,
              -50px 100px 0 $brown,
              -40px 100px 0 $brown,
              -30px 100px 0 $brown,
              -20px 100px 0 $brown,
              -10px 100px 0 $brown,
              0 100px 0 $brown,
              10px 100px 0 $green,
              50px 100px 0 $green,
              /* Row 12 */
              -90px 110px 0 $green,
              -80px 110px 0 $green,
              -70px 110px 0 $green,
              -60px 110px 0 $green,
              -50px 110px 0 $brown,
              -40px 110px 0 $brown,
              -30px 110px 0 $brown,
              -20px 110px 0 $green,
              -10px 110px 0 $green,
              0 110px 0 $green,
              10px 110px 0 $brown,
              20px 110px 0 $brown,
              40px 110px 0 $green,
              50px 110px 0 $green,
              /* Row 13 */
              -100px 120px 0 $brown,
              -90px 120px 0 $brown,
              -80px 120px 0 $green,
              -70px 120px 0 $green,
              -60px 120px 0 $green,
              -50px 120px 0 $green,
              -40px 120px 0 $green,
              -30px 120px 0 $green,
              -20px 120px 0 $brown,
              -10px 120px 0 $brown,
              0 120px 0 $brown,
              10px 120px 0 $brown,
              20px 120px 0 $brown,
              /* Row 14 */
              -100px 130px 0 $brown,
              -90px 130px 0 $brown,
              -80px 130px 0 $brown,
              -70px 130px 0 $green,
              -60px 130px 0 $green,
              -50px 130px 0 $green,
              -40px 130px 0 $green,
              -30px 130px 0 $green,
              -20px 130px 0 $green,
              -10px 130px 0 $green,
              0 130px 0 $green,
              10px 130px 0 $green,
              20px 130px 0 $brown,
              30px 130px 0 $brown,
              /* Row 14 */
              -90px 140px 0 $brown,
              -80px 140px 0 $brown,
              -70px 140px 0 $brown,
              10px 140px 0 $brown,
              20px 140px 0 $brown,
              30px 140px 0 $brown,
              40px 140px 0 $brown,
    ;
}