$dp: #fa6386;
$p: #ffa3c0;
$bk: #000;

body {
  background-color: #27282E;
}

.kirby {
  margin: 50px auto;
  padding: 0;
  width: 10px;
  height: 10px;
  box-shadow:
              /* Row 1 */
              -40px 0 0 $bk,
              -30px 0 0 $bk,
              -20px 0 0 $bk,
              0 0 0 $bk,
              10px 0 0 $bk,
              20px 0 0 $bk,
              30px 0 0 $bk,
              40px 0 0 $bk,
              50px 0 0 $bk,
              70px 0 0 $bk,
              80px 0 0 $bk,
              /* Row 2 */
              -50px 10px 0 $bk,
              -40px 10px 0 $dp,
              -30px 10px 0 $p,
              -20px 10px 0 $dp,
              -10px 10px 0 $bk,
              0 10px 0 $dp,
              10px 10px 0 $p,
              20px 10px 0 $p,
              30px 10px 0 $p,
              40px 10px 0 $p,
              50px 10px 0 $dp,
              60px 10px 0 $bk,
              70px 10px 0 $dp,
              80px 10px 0 $dp,
              90px 10px 0 $bk,
              /* Row 3 */
              -60px 20px 0 $bk,
              -50px 20px 0 $dp,
              -40px 20px 0 $p,
              -30px 20px 0 $p,
              -20px 20px 0 $p,
              -10px 20px 0 $dp,
              0 20px 0 $p,
              10px 20px 0 $p,
              20px 20px 0 $p,
              30px 20px 0 $p,
              40px 20px 0 $p,
              50px 20px 0 $p,
              60px 20px 0 $dp,
              70px 20px 0 $bk,
              80px 20px 0 $p,
              90px 20px 0 $bk,
              /* Row 4 */
              -60px 30px 0 $bk,
              -50px 30px 0 $p,
              -40px 30px 0 $p,
              -30px 30px 0 $p,
              -20px 30px 0 $p,
              -10px 30px 0 $p,
              0 30px 0 $p,
              10px 30px 0 $p,
              20px 30px 0 $p,
              30px 30px 0 $p,
              40px 30px 0 $p,
              50px 30px 0 $p,
              60px 30px 0 $p,
              70px 30px 0 $dp,
              80px 30px 0 $p,
              90px 30px 0 $bk,
              /* Row 5 */
              -60px 40px 0 $bk,
              -50px 40px 0 $dp,
              -40px 40px 0 $p,
              -30px 40px 0 $p,
              -20px 40px 0 $p,
              -10px 40px 0 $p,
              0 40px 0 $p,
              10px 40px 0 $p,
              20px 40px 0 $p,
              30px 40px 0 $bk,
              40px 40px 0 $p,
              50px 40px 0 $bk,
              60px 40px 0 $p,
              70px 40px 0 $p,
              80px 40px 0 $p,
              90px 40px 0 $bk,
              /* Row 6 */
              -50px 50px 0 $bk,
              -40px 50px 0 $dp,
              -30px 50px 0 $p,
              -20px 50px 0 $p,
              -10px 50px 0 $p,
              0 50px 0 $p,
              10px 50px 0 $p,
              20px 50px 0 $p,
              30px 50px 0 $bk,
              40px 50px 0 $p,
              50px 50px 0 $bk,
              60px 50px 0 $p,
              70px 50px 0 $p,
              80px 50px 0 $dp,
              90px 50px 0 $bk,
              /* Row 7 */
              -50px 60px 0 $bk,
              -40px 60px 0 $bk,
              -30px 60px 0 $dp,
              -20px 60px 0 $p,
              -10px 60px 0 $p,
              0 60px 0 $p,
              10px 60px 0 $p,
              20px 60px 0 $p,
              30px 60px 0 $bk,
              40px 60px 0 $p,
              50px 60px 0 $bk,
              60px 60px 0 $p,
              70px 60px 0 $p,
              80px 60px 0 $bk,
              /* Row 8 */
              -50px 70px 0 $bk,
              -40px 70px 0 $dp,
              -30px 70px 0 $p,
              -20px 70px 0 $p,
              -10px 70px 0 $p,
              0 70px 0 $dp,
              10px 70px 0 $dp,
              20px 70px 0 $p,
              30px 70px 0 $p,
              40px 70px 0 $p,
              50px 70px 0 $p,
              60px 70px 0 $p,
              70px 70px 0 $dp,
              80px 70px 0 $bk,
              /* Row 9 */
              -50px 80px 0 $bk,
              -40px 80px 0 $dp,
              -30px 80px 0 $p,
              -20px 80px 0 $p,
              -10px 80px 0 $p,
              0 80px 0 $p,
              10px 80px 0 $p,
              20px 80px 0 $p,
              30px 80px 0 $p,
              40px 80px 0 $p,
              50px 80px 0 $p,
              60px 80px 0 $p,
              70px 80px 0 $p,
              80px 80px 0 $bk,
              /* Row 10 */
              -40px 90px 0 $bk,
              -30px 90px 0 $p,
              -20px 90px 0 $p,
              -10px 90px 0 $p,
              0 90px 0 $p,
              10px 90px 0 $p,
              20px 90px 0 $p,
              30px 90px 0 $p,
              40px 90px 0 $bk,
              50px 90px 0 $p,
              60px 90px 0 $p,
              70px 90px 0 $dp,
              80px 90px 0 $bk,
              /* Row 11 */
              -40px 100px 0 $bk,
              -30px 100px 0 $dp,
              -20px 100px 0 $p,
              -10px 100px 0 $p,
              0 100px 0 $p,
              10px 100px 0 $p,
              20px 100px 0 $p,
              30px 100px 0 $p,
              40px 100px 0 $p,
              50px 100px 0 $p,
              60px 100px 0 $p,
              70px 100px 0 $bk,
              /* Row 12 */
              -50px 110px 0 $bk,
              -40px 110px 0 $dp,
              -30px 110px 0 $bk,
              -20px 110px 0 $dp,
              -10px 110px 0 $p,
              0 110px 0 $p,
              10px 110px 0 $p,
              20px 110px 0 $p,
              30px 110px 0 $p,
              40px 110px 0 $p,
              50px 110px 0 $p,
              60px 110px 0 $dp,
              70px 110px 0 $bk,
              /* Row 13 */
              -50px 120px 0 $bk,
              -40px 120px 0 $dp,
              -30px 120px 0 $dp,
              -20px 120px 0 $bk,
              -10px 120px 0 $bk,
              0 120px 0 $dp,
              10px 120px 0 $p,
              20px 120px 0 $p,
              30px 120px 0 $p,
              40px 120px 0 $dp,
              50px 120px 0 $dp,
              60px 120px 0 $bk,
              /* Row 14 */
              -50px 130px 0 $bk,
              -40px 130px 0 $dp,
              -30px 130px 0 $dp,
              -20px 130px 0 $dp,
              -10px 130px 0 $bk,
              0 130px 0 $bk,
              10px 130px 0 $bk,
              20px 130px 0 $bk,
              30px 130px 0 $bk,
              40px 130px 0 $bk,
              50px 130px 0 $bk,
              /* Row 15 */
              -50px 140px 0 $bk,
              -40px 140px 0 $dp,
              -30px 140px 0 $dp,
              -20px 140px 0 $bk,
              0 140px 0 $bk,
              10px 140px 0 $dp,
              20px 140px 0 $dp,
              30px 140px 0 $bk,
              /* Row 16 */
              -40px 150px 0 $bk,
              -30px 150px 0 $bk,
              10px 150px 0 $bk,
              20px 150px 0 $bk,
    ;
}