%audio{:autoplay => ""}
  %source{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/142927/intro.mp3", :type => "audio/mpeg"}
.wrapper
  .composition
    .scene.scene--1
      .shooting-star
      .gamefreak-logo
      .gamefreak
      .star-shower-mask
        .star-shower--light
        .star-shower--dark
    .scene.scene--2
      %section.opponent.jigglypuff-wrapper
        %figure.jigglypuff
        %figure.jigglypuff--flinch
        %figure.jigglypuff--tackle
      %section.opponent.nidorino-wrapper
        %figure.nidorino
        %figure.nidorino--flinch
        %figure.nidorino--tackle
      %section.gengar-wrapper
        %figure.gengar
        %figure.gengar--scratch1
        %figure.gengar--scratch2
    .scene.scene--3
      .logo-wrapper
        %figure.pokemon-logo
        %span CSS Edition