/*
   FEZ
   Joan Leon
   @nucliweb
*/

// Colors
$body: #ffffff;
$shadow1: #e3ecda;
$shadow2: #b9c7a5;
$had: #db0006;
$had-shadow: #a70007;
$ribbon: #feb325;
$eyes: #01000a;
$grid: 13;

// Map of colors
$colors: (
  1: $body,
  2: $shadow1,
  3: $shadow2,
  4: $had,
  5: $had-shadow,
  6: $ribbon,
  7: $eyes
);

// FEZ
$fez-1:
0,0,0,6,4,4,0,0,0,0,0,0,0,
0,0,6,5,4,4,0,0,0,0,0,0,0,
0,0,0,5,4,4,0,0,0,0,0,0,0,
0,3,2,1,1,1,1,1,1,1,1,1,0,
3,2,2,1,1,1,1,1,1,1,1,1,1,
3,2,1,1,1,1,1,1,1,1,1,1,1,
3,2,1,7,1,1,1,1,1,1,1,7,1,
3,2,1,1,1,1,1,1,1,1,1,1,1,
3,2,2,1,1,1,1,1,1,1,1,1,1,
0,3,3,2,1,1,1,1,1,1,1,1,0,
0,0,0,0,3,3,2,1,0,0,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,3,1,1,1,1,1,1,0,0,0,0,
0,3,1,3,1,1,1,1,1,3,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,0,3,2,2,1,1,1,0,0,0,0,
0,0,0,3,2,0,0,3,2,0,0,0,0,
0,0,0,3,0,0,0,0,3,0,0,0,0;

$fez-2:
0,0,0,6,4,4,0,0,0,0,0,0,0,
0,0,6,5,4,4,0,0,0,0,0,0,0,
0,0,0,5,4,4,0,0,0,0,0,0,0,
0,3,2,1,1,1,1,1,1,1,1,1,0,
3,2,2,1,1,1,1,1,1,1,1,1,1,
3,2,1,1,1,1,1,1,1,1,1,1,1,
3,2,1,1,1,1,1,1,1,1,1,1,1,
3,2,1,1,1,1,1,1,1,1,1,1,1,
3,2,2,1,1,1,1,1,1,1,1,1,1,
0,3,3,2,1,1,1,1,1,1,1,1,0,
0,0,0,0,3,3,2,1,0,0,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,3,1,1,1,1,1,1,0,0,0,0,
0,3,1,3,1,1,1,1,1,3,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,0,3,2,1,1,1,1,0,0,0,0,
0,0,0,3,2,2,1,1,1,0,0,0,0,
0,0,0,3,2,0,0,3,2,0,0,0,0,
0,0,0,3,0,0,0,0,3,0,0,0,0;



@function pixelart($pixel-list, $colors: $colors, $grid: $grid) {
  $shadows: ();
  $row: 0;
  $col: 1;

  @for $i from 1 through length($pixel-list) {
    @if( nth($pixel-list,$i) > 0 ) {
      $shadows: append($shadows, ($col * 1px) ($row * 1px) 0 map-get($colors,nth($pixel-list,$i)), 'comma');
    }

    @if($i % $grid == 0) {
      $row: $row+1;
      $col: 0;
    }

    $col: $col + 1;
  }

  @return $shadows;
}

body {
  background-color: #f25e22;
}

.fez {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 50px 200px;

  transform: scale(20);

  animation: fez 8s step-end infinite;
  box-shadow: pixelart($fez-1);

}

@keyframes fez {
  49%, 52%  { box-shadow: pixelart($fez-1); }
  50%  { box-shadow: pixelart($fez-2); }
}
