@import url('https://unpkg.com/normalize.css') layer(normalize);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@layer normalize, base, demo, flip;

@layer flip {
  .flip > div:nth-of-type(2) {
    z-index: 2;
    transform: rotateX(-180deg);
    backface-visibility: hidden;
  }
  .flip div:nth-of-type(3) {
    z-index: 3;
    backface-visibility: hidden;
  }
}

@layer demo {
  body {
    align-content: center;
    gap: 2rem;
  }
  .board {
    display: flex;
    gap: 0.5ch;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    padding: 6px;
    background: light-dark(hsl(0 0% 40%), hsl(0 0% 0%));
  }
  .flip-line {
    display: flex;
    gap: 0.5ch;
  }
  .flip {
    --font-level: 8;
    font-size: 2.5rem;
    color: var(--color, canvasText);
    width: 1.5ch;
    line-height: 1.2;
    display: inline-block;
    height: 1lh;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    perspective: calc(var(--perspective) * 1em);
  }

  .flip::before,
  .flip::after {
    content: '';
    position: absolute;
    width: calc(10% - 0.05em);
    height: calc(20% - 0.05em);
    background: color-mix(in oklch, canvas, canvasText 15%);
    top: 50%;
    translate: 0 -50%;
  }
  .flip::before {
    left: 0;
  }
  .flip::after {
    right: 0;
  }
  .flip .flip-holder {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
  }

  .flip div {
    position: absolute;
    transform-style: preserve-3d;
    position: absolute;
    overflow: hidden;
    /* border-radius: 6px; */
    inset: 0;
    background: radial-gradient(
        100% 100% at 50% 100%,
        light-dark(hsl(0 0% 88% / 0.2), hsl(0 0% 60% / 0.2)),
        #0000
      ),
      light-dark(hsl(0 0% 92%), hsl(0 0% 15%));
  }

  .flip div:nth-of-type(odd) {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 40%,
      calc(90% + 0.025em) 40%,
      calc(90% + 0.025em) 48%,
      calc(10% - 0.025em) 48%,
      calc(10% - 0.025em) 40%,
      0 40%
    );
  }

  .flip div:nth-of-type(even) {
    clip-path: polygon(
      0 60%,
      calc(10% - 0.025em) 60%,
      calc(10% - 0.025em) 52%,
      calc(90% + 0.025em) 52%,
      calc(90% + 0.025em) 60%,
      100% 60%,
      100% 100%,
      0 100%
    );
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
div.tp-dfwv {
  width: 280px;
}
